<header class="container-fluid fixed-top d-flex align-items-center ">
  <!-- <div class="row align-items-center">
    <h3 [routerLink]="['home']" class="col-5">Header</h3>
  </div> -->
  <form class="search-form border d-flex justify-content-center" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <!-- <span class="logo" routerLink="/">NgVGDB</span> -->
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search  1,000 cocktails"
    />
    <button class="search-button">Search</button>
  </form>
</header>
