<div class=" add-drink container py-4">
  <h2>Add cocktail</h2>
  <form [formGroup]="cocktailForm" class="form-floating col-lg-6 col-md-8 col-sm-10 mb-3">

      <input type="text" class="form-control my-4" id="name" placeholder="name" formControlName="Name">

      <input type="text" class="form-control my-4" id="description" placeholder="description" formControlName="Description">

      <input type="text" class="form-control my-4" id="imageURL" placeholder="image URL" formControlName="ImageURL">

      <button (click)="add()" type="submit" class="btn btn-primary my-4">Add drink</button>
  </form>
  {{cocktailForm.value | json}}
</div>
