<!-- <form class="row g-3"> -->
  <div class="col-sm-12 col-md-6 offset-3">
      <div class="col-sm-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" [(ngModel)]="username" class="form-control" id="inputName4">
      </div>
      {{username}}
      <div class="col-sm-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password"
        [(ngModel)]="password"
        class="form-control" id="inputPassword4">
      </div>
      <div class="col-6 mt-2">
        <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
        <button type="submit" class="btn btn-secondary float-right" (click)="cancel()">Cancel</button>
      </div>
  </div>
<!-- </form> -->
